<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="motian.dao.mapper.BusinessCardHolderMapper">
    <resultMap id="BusinessCardHolderType" type="BusinessCardHolderData">
        <result property="bch_id" column="bch_id"/>
        <result property="bch_name" column="bch_name"/>
        <result property="user_id" column="user_id"/>
    </resultMap>

    <sql id="businessCardHolderColums">
        bch_name, user_id
    </sql>

    <insert id="insert">
        insert into oa_business_card_holder
        (bch_id,
        <include refid="businessCardHolderColums"/>
        ,db_create_time,db_update_time)
        values
        (#{data.bch_id},#{data.bch_name},#{data.user_id},now(),now());
    </insert>

    <update id="update">
        update oa_business_card_holder
        set
        <if test="bch_name!=null">bch_name =#{data.bch_name}</if>,
        <if test="user_id!=null">user_id=#{data.user_id}</if>,
        db_update_time = now()
        where bch_id = #{data.bch_id}
    </update>

    <select id="getBusinessCardHolderById" resultMap="BusinessCardHolderType">
        select bch_id,
        <include refid="businessCardHolderColums"/>
        from oa_business_card_holder
        where bch_id = #{bch_id}
    </select>

    <select id="getBusinessCardHolderList" resultMap="BusinessCardHolderType">
        select bch_id,
        <include refid="businessCardHolderColums"/>
        from oa_business_card_holder
    </select>

</mapper>