<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="motian.dao.mapper.UserMapper">
    <resultMap id="UserType" type="UserData">
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="identity" column="status"/>
        <result property="department" column="department"/>
        <result property="status" column="state"/>
    </resultMap>

    <sql id="userColums">
        nickname, status, department,state
    </sql>

    <insert id="insert">
        insert into oa_user
        (user_id,<include refid="userColums"/>,db_create_time,db_update_time)
        values
        (#{data.userId},#{data.nickname},#{data.identity},#{data.department},#{data.status},now(),now());
    </insert>

    <update id="update">
        update oa_user
        set
        <if test="nickname!=null">nickname=#{data.nickname}</if>,
        <if test="identity!=null">identity =#{data.identity}</if>,
        <if test="department!=null">department=#{data.department}</if>,
        <if test="status!=null">status=#{data.status}</if>,
        db_update_time = now()
        where user_id = #{data.userId}
    </update>

    <select id="getUserByUserId" resultType="UserData">
        select user_id,<include refid="userColums"/>
        from oa_user
        where user_id = #{userId}
    </select>

    <select id="getUserByNickname" resultType="UserData">
        select user_id,<include refid="userColums"/>
        from oa_user
        where nickname = #{nickname}
    </select>

    <select id="getUserList" resultType="UserData">
        select user_id,<include refid="userColums"/>
        from oa_user
    </select>


    <select id="getUserListByStatus" resultType="UserData">
        select user_id,<include refid="userColums"/>
        from oa_user
        where status = #{state}
    </select>



</mapper>